*{
    color: deepskyblue;
    text-shadow: 0px 0px 5px deepskyblue;
}
hr{
    border: 1px solid deepskyblue;
    box-shadow: 0px 0px 5px deepskyblue;
}
body{
    background-color: black;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
}
a{
    font-size: 30px;
    transition: 0.5s;
}
a:hover{
        text-shadow: 0px 0px 10px deepskyblue;
}
li{
    font-size: 30px;
}